<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>合同会社China Prime</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="ryoukin.css">
  <link rel="stylesheet" href="reset.css">
</head>

<body>
  <header class="header">
    <div class="header-inner">
      <h1 class="header-logo"><a href="#"><img src="img/12390.jpg" alt="Coding Practice"></a></h1>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-list-item"><a href="new.html">Top</a></li><!-- /.header-nav-list-item -->
          <li class="header-nav-list-item"><a href="gaiyou.html">会社概要</a></li>
          <li class="header-nav-list-item"><a href="kiyaku.html">利用規約</a></li>
          <li class="header-nav-list-item"><a href="ryoukin.html">利用料金</a></li>
          <!-- <li class="header-nav-list-item"><a href="Q&A.html">よくあるご質問・お問合せ</a></li> -->
          <li class="header-nav-list-item"><a href="https://lin.ee/o89sPAU">公式LINE＠登録</a></li><!-- /.header-nav-list-item -->
        </ul><!-- /.header-nav-list -->
      </nav><!-- /.header-nav -->
    </div><!-- /.header-inner -->
  </header>
  <div class="mv">
    <div class="mv-copy">
      <h1 class="mv-copy-ttl"> Your Only One Import Agency</h1><!-- /.mv-ttl -->
      <p class="mv-copy-txt">Starting from 2015</p><!-- /.mv-txt -->
    </div><!-- /.mv-copy -->
  </div><!-- /.mv -->

  <section class="contents">
    <div class="contents-inner">
      <h2 class="section-ttl">China Primeが選ばれるサービス内容</h2><!-- /.section-ttl -->
      <!-- <h3 class="section-ttl-02">気になるサービスは画像をクリック！</h3> -->
      <div class="wrapper">
        <div class="contents-box">
          <figure class="contents-box-img"><img src="img/english_kaiwa_bad_man.png" alt=""></figure>
          <!-- /.contents-box-img -->
          <div class="contents-box-info">
            <h2>言葉の壁は<br>問題ありません！</h2>
            <br>
            <p>
              商品に問題があっても職員が<br>責任を持ってやりとりを行います。
            </p>
            <!-- <time datetime="2020.06.28">2020.06.28</time> -->
          </div><!-- /.contents-box-info -->
        </div><!-- /.contents-box -->
        <div class="contents-box">
          <figure class="contents-box-img"><img src="img/computer_crt_monitor_desktop.png" alt=""></figure>
          <!-- /.contents-box-img -->
          <div class="contents-box-info">
            <h2>
              シンプルで使いやすい<br>
              単純な発注方法
            </h2>
            <br>
            <p>管理シートで一元化。<br>コピペだけで完結します。
            </p>
            <!-- <time datetime="2020.06.28">2020.07.02</time> -->
          </div><!-- /.contents-box-info -->
        </div><!-- /.contents-box -->
        <div class="contents-box">
          <figure class="contents-box-img"><img src="img/cost_cut_sakugen_samurai.png" alt=""></figure>
          <!-- /.contents-box-img -->
          <div class="contents-box-info">
            <h2>
              様々な支払い方法に対応！<br>
              無駄なコストカットを実施
            </h2>
            <br>
            <p>利用者負担になるコストを<br>限界までカット！
            </p>
            <!-- <time datetime="2020.06.28">2020.07.10</time> -->
          </div><!-- /.contents-box-info -->
        </div><!-- /.contents-box -->

      </div><!-- /.wrapper -->
      <!-- <a href="#" class="btn">もっと見る</a>/.btn -->
    </div><!-- /.contents-inner -->
  </section><!-- /.contents -->

  <section class="contents">
    <div class="contents-inner">
      <!-- <h2 class="section-ttl">China Primeが選ばれる理由</h2>/.section-ttl -->
      <div class="wrapper">
        <div class="contents-box">
          <figure class="contents-box-img"><img src="img/hikouki_gumo.png" alt=""></figure>
          <!-- /.contents-box-img -->
          <div class="contents-box-info">
            <h2>商品購入時から<br>他社よりも迅速対応！</h2>
            <br>
            <p>
              『無駄な時間を短縮』！<br>当社独自の流れで商品依頼に<br>迅速対応可能です！
            </p>
            <!-- <time datetime="2020.06.28">2020.06.28</time> -->
          </div><!-- /.contents-box-info -->
        </div><!-- /.contents-box -->
        <div class="contents-box">
          <figure class="contents-box-img"><img src="img/hourensou3_soudan.png" alt=""></figure>
          <!-- /.contents-box-img -->
          <div class="contents-box-info">
            <h2>ちょっとした相談事も<br>気軽にご連絡ください！</h2>
            <br>
            <p>
              当社で対応できる事は<br>
              できる限り対応・交渉致します！
            </p>
            <!-- <time datetime="2020.06.28">2020.07.02</time> -->
          </div><!-- /.contents-box-info -->
        </div><!-- /.contents-box -->
        <div class="contents-box">
          <figure class="contents-box-img"><img src="img/boueki_yunyuu.png" alt=""></figure>
          <!-- /.contents-box-img -->
          <div class="contents-box-info">
            <h2>いろんな商品に対応可能な<br>国際輸入ルートを確保！</h2>
            <br>
            <p>
              配送における悩みはありますか？<br><br>
              貴方に合う配送プランをご提案<br>
              できるかもしれません。
            </p>
            <!-- <time datetime="2020.06.28">2020.07.10</time> -->
          </div><!-- /.contents-box-info -->
        </div><!-- /.contents-box -->

      </div><!-- /.wrapper -->
      <!-- <a href="#" class="btn">もっと見る</a>/.btn -->
    </div><!-- /.contents-inner -->
  </section><!-- /.contents -->

  <br>
  <section class="contents">
    <div class="contents-inner">
      <h2 class="section-ttl">China Prime利用料金</h2><!-- /.section-ttl -->
      
    </div><!-- /.contents-inner -->
  </section><!-- /.contents -->
  <ul class="pricecards">
    <li class="pricecard free">
        <h3>半年一括プラン</h3>
        <h4>60,000</h4>
        <div>円（税込）/半年間</div>
        <p>半年更新の契約プランになります。<br>
          月額請求プランより9,000円/半年間お得なプランです。<br>
          初月利用料金無料サービス実施中</p>
        <a href="">申し込み</a>
    </li>
    <li class="pricecard premium">
        <h3>月額請求プラン</h3>
        <h4>11,500</h4>
        <div>円（税込）/月額</div>
        <p>月額基本料金になります。<br>現在、利用者の中では一番多い利用プランになります。<br>
          初月利用料金無料サービス実施中</p>
        <a href="">申し込み</a>
    </li>
    <li class="pricecard standard">
        <h3>年間まとめてプラン</h3>
        <h4>108,000</h4>
        <div>円（税込）/年間</div>
        <p>１年契約更新プランになります。<br>月額請求プランより30,000円/年間お得なプランです。<br>
          初月利用料金無料サービス実施中</p>
        <a href="">申し込み</a>
    </li>
  </ul>

  <section class="contents">
    <div class="contents-inner">
      <h2 class="section-ttl">China Primeサービス内容</h2><!-- /.section-ttl -->
      <table>
        <thead>
            <tr>
                <td></td>
                <th scope="col">内容</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>代行手数料</th>
                <td data-label="内容" class="txt">5%から<a2>※個数によって変動有り。利用規約参照</a2></td>
                <!-- <td data-label="価格" class="price">¥3,000</td> -->
            </tr>
            <tr>
                <th>会員様専用シート配布</th>
                <td data-label="内容" class="txt">コピペと見積もり依頼コメントだけでOK!このシートで<a3>全ての作業が完結</a3>します。</td>
                <!-- <td data-label="価格"class="price">¥4,000</td> -->
            </tr>
            <tr>
              <th>臨機応変な国際配送プラン</th>
              <td data-label="内容" class="txt">スムーズな輸入環境を<a3>最適なプランでご提案</a3>します</td>
              <!-- <td data-label="価格"class="price">¥4,000</td> -->
            </tr>
            <tr>
                <th>無在庫販売サポートプラン</th>
                <td data-label="内容" class="txt">無在庫販売に特化した<a3>当社独自ノウハウ</a3>でしっかりサポート</td>
                <!-- <td data-label="価格"class="price">¥4,000</td> -->
            </tr>
            <tr>
                <th>日本人スタッフによるサポート</th>
                <td data-label="内容" class="txt">現地担当とのやり取りを<a3>しっかりサポート！</a3></td>
                <!-- <td data-label="価格"class="price">¥10,000</td> -->
            </tr>
          <tr>
                <th>ZOOM・LINEによる質問サポート</th>
                <td data-label="内容" class="txt">中国輸入に関する疑問・不安に対し、しっかりサポートします！<a2>※事前連絡をお願いします。</a2></td>
                <!-- <td data-label="価格" class="price">¥3,000</td> -->
            </tr>
            <tr>
                <th>AmazonFBA倉庫直送サービス</th>
                <td data-label="内容" class="txt">中国で仕入れて、そのままFBA倉庫に直送いたします。</td>
                <!-- <td data-label="価格"class="price">¥4,000</td> -->
            </tr>
            <tr>
                <th>中国輸入情報LINE配信</th>
                <td data-label="内容" class="txt">濃厚な中国輸入情報を定期的に配信します。</td>
                <!-- <td data-label="価格"class="price">¥10,000</td> -->
            </tr>
          <tr>
                <th>簡易OEMサポート</th>
                <td data-label="内容" class="txt">簡易LOGOシールや商品タグ等を<a3>特価で生産いたします。</a3></td>
                <!-- <td data-label="価格" class="price">¥3,000</td> -->
            </tr>
        </tbody>
    </table>
    </div><!-- /.contents-inner -->
  </section><!-- /.contents -->

  <section class="cta">
    <div class="cta-inner">
      <h2 class="section-ttl-03">企業理念</h2><!-- /.section-ttl-02 -->
      <p class="cta-txt">
        「中国輸入における不安」に対して<br><br>
        利用者の皆様が「安心」してご利用いただけるよう<br>合同会社China Primeでは<br><br>
        『安心』して商品に関するコミュニケーションを行える環境を提供<br>
        『安定』した商品輸入環境の提供<br>
        購入者負担を減らし『安価』な商品購入を提供<br><br>
        『３安』を提供する事を理念とし運営をしております。
      </p><!-- /.cta-txt -->
      <a href="https://forms.gle/dA9D4tvwkswB7ire9" class="cta-btn">お問い合わせしてみる</a><!-- /.cta-btn -->
    </div><!-- /.cta-inner -->
  </section><!-- /.cta -->
  <div class='footer'>
    <div class='footer-contents'>
        <div class='furima-details'>
            <h2 class='footer-content-head'>合同会社 China Primeについて</h2>
            <ul>
              <li class="footer-nav-list-item"><a href="gaiyou.html">会社概要(運営会社）</a></li>
              <li class="footer-nav-list-item"><a href="privacy_policy.html">プライバシーポリシー</a></li>
              <li class="footer-nav-list-item"><a href="special_commercial_code_notation.html">特商法にかかる表記</a></li>
            </ul>
        </div>
        <div class='furima-details'>
            <h2 class='footer-content-head'>China Primeのサービスを確認する</h2>
            <ul>
              <li class="footer-nav-list-item"><a href="ryoukin.html">ご利用サービス内容</a></li>
              <li class="footer-nav-list-item"><a href="shop.html">主な仕入可能環境</a></li>
              <li class="footer-nav-list-item"><a href="delivery_company.html">主な配送業者一覧</a></li>
                <!-- <li><%= link_to 'ご利用可能サービス一覧', "#", class: "footer-link" %></li>
                <li><%= link_to '主な仕入れ可能環境', "#", class: "footer-link" %></li>
                <li><%= link_to '主な配送業者一覧', "#", class: "footer-link" %></li> -->
            </ul>
        </div>
        <div class='furima-details'>
            <h2 class='footer-content-head'>China Primeについて</h2>
            <ul>
              <li class="footer-nav-list-item"><a href="kiyaku.html">China Prime利用規約</a></li>
              <!-- <li class="footer-nav-list-item"><a href="">China Prime利用ガイドライン</a></li> -->
              <li class="footer-nav-list-item"><a href="news.html">運営からのお知らせ</a></li>
                <!-- <li><%= link_to 'China Prime利用規約', "#", class: "footer-link" %></li>
                <li><%= link_to 'China Prime利用ガイドライン', "#", class: "footer-link" %></li>
                <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li> -->
            </ul>
        </div>
    </div>
    <p>Copyright(C) 2021 LLC.China Prime All Right Reserved.</p>
</div>
</body>

</html>