<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>合同会社China Prime</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="kiyaku.css">
  <link rel="stylesheet" href="reset.css">
</head>

<body>
    <header class="header">
        <div class="header-inner">
          <h1 class="header-logo"><a href="#"><img src="img/12390.jpg" alt="Coding Practice"></a></h1>
          <nav class="header-nav">
            <ul class="header-nav-list">
              <li class="header-nav-list-item"><a href="new.html">Top</a></li><!-- /.header-nav-list-item -->
              <li class="header-nav-list-item"><a href="gaiyou.html">会社概要</a></li>
              <li class="header-nav-list-item"><a href="kiyaku.html">利用規約</a></li>
              <li class="header-nav-list-item"><a href="ryoukin.html">利用料金</a></li>
              <!-- <li class="header-nav-list-item"><a href="Q&A.html">よくあるご質問・お問合せ</a></li> -->
              <li class="header-nav-list-item"><a href="https://lin.ee/o89sPAU">公式LINE＠登録</a></li><!-- /.header-nav-list-item -->
            </ul><!-- /.header-nav-list -->
          </nav><!-- /.header-nav -->
        </div><!-- /.header-inner -->
      </header>
      <div class="mv">
        <div class="mv-copy">
          <h1 class="mv-copy-ttl"> Your Only One Import Agency</h1><!-- /.mv-ttl -->
          <p class="mv-copy-txt">Starting from 2015</p><!-- /.mv-txt -->
        </div><!-- /.mv-copy -->
      </div><!-- /.mv -->

  <section class="contents">
    <div class="contents-inner">
      <h2 class="section-ttl">China Primeサービス利用規約</h2><!-- /.section-ttl -->
      <table>
        <tr>
        <th>はじめに</th>
        </tr>
        <tr>
        <td>ご利用いただきありがとうございます。当社、中国輸入サービスをご利用に際しましては<br>
            下記の内容をご確認いただきご了承のうえで当社サービスのご利用をお願いいたします。
        </td>
        </tr>
        <tr>
            <th><br>1:China Primeサービスご利用の流れ</th>
        </tr>
        <tr>
            <td>下記の手順に沿ってサービスのご利用をお願いいたします<br>
                1.『China Prime公式LINE＠』にご登録いただき、専用シート配布依頼コメントを送信ください。<br>
                2.ご利用前に「サービス内容」「お買い物流れ」「各種手数料について」「配送料金について」など
                当社の基本サービス概要をご確認ください。<br>
                3.ご購入希望の商品情報を「専用スプレッドシート」もしくは「専用エクセルシート」にご記入いただき<br>
                　公式LINE＠に記載報告もしくは当該シートを送信ください。<br>
                4.お見積もり結果を各自LINEの方に完了報告を行います。
                内容に問題なければご一報ください。当社の方で即時購入を行います。<br>
                　ご請求金額の支払いはご購入ご連絡後3日以内にご希望の支払いサービスより対応をお願いいたします。<br>
                　※支払いサービスについては、規約内の『お支払い方法について』を参照。<br>
                5.商品が現地に到着後、ご希望の検品方法にて作業を行います。<br>
                　検品完了後は、商品写真をお送りします。ご利用者様も画像をご確認の上問題無ければ出荷いたします。<br>
                6.出荷完了後、追跡リンクと国際送料お支払い金額をご連絡いたします。<br>
                　ご請求金額のお支払いは請求から3日以内にお支払いの方をお願いいたします。<br>
                7.日本でのお受け取り完了で一連の作業は完了となります。<br>
                　商品等での問題等ありましたら公式LINEにご連絡ください。ご確認・対応をできる限り行います。<br>
        </td>
        </tr>
        <tr>
            <th><br>2:ご連絡案内</th>
        </tr>
            <tr>
                <td>公式LINE＠　（対応随時）<br>
                    個人LINE　　（ID：chinaprime）
            </td>
        </tr>
        <tr>
            <th><br>3:為替レートについて</th>
        </tr>
            <tr>
                <td>各種請求時の為替レートは、当社送金企業レートの表示価格を繰り上げ、0.5元ごとのレート請求とします。<br>
                    （例）交換レート　15.95元/１円 → 16.0元/１円レート請求<br>
                　　　　　　　　　16.15元/１円 → 16.5元/１円レート請求<br>
                交換レート変更があった場合、平日の９時３０分前後に公式LINE＠及び個別LINEにレート変更のアナウンスを行います。
            </td>
        </tr>
        <tr>
            <th><br>4:お支払い方法について</th>
        </tr>
            <tr>
                <td>商品代金お支払い方法につきましては下記のサービス及び金融機関を利用しております。<br><br>
                    <under>支払い可能方法：クレジットカード・銀行振り込み</under><br>
                    PayPal（ペイパル）<br>
                    ※1<br><br>

                    <under>支払い可能方法：現金送金</under><br>
                    PayPay銀行（旧ジャパンネット銀行）
                    ゆうちょ銀行<br>
                    ※２<br><br>

                    <under>支払い方法：電子マネー決済</under><br>
                    LINE pay決済<br><br>
                    ※1：PayPal請求額には、指定の決済手数料及び出金手数料が含まれる場合があります。<br>
                    ※2：各機関の現金送金時には、ご利用者様に別途送金手数料をご負担していただく場合があります。
            </td>
        </tr>
        <tr>
            <th><br>5:国際配送方法について</th>
        </tr>
            <tr>
                <td>国際配送方法につきましては下記のようなサービスプランを揃えております。<br><br>
                    
                    <under>配送サービス【航空便】</under><br>
                    1：OCS（ANA傘下）<br>
                    　　　　　　　　　通常利用する国際配送サービスになります。<br>
                    　　　　　　　　　配送までの期間：中国出荷後４日〜７日程度で配達完了予定
                    <br><br>
                    ２：EMS（郵政サービス）<br>
                    　　　　　　　　　国際小包サービス。軽い物・商品点数が少なく軽量の場合、安価のため利用<br>
                    　　　　　　　　　配送までの期間：４日前後（地域によって到着国際空港が異なる為、通関に時間を要する場合あり）
                    <br><br>
                    ３：深圳ZC便（シンセンZC）<br>
                    　　　　　　　　　電子機器・航空搭載危険物の一部商品（特殊電子便）サービス<br>
                    　　　　　　　　　配送までの期間：中国出荷後１週間〜１０日前後で到着予定
                    <br><br>
                    ４：その他航空便<br>
                    　　　　　　　　　DHL（快速便）・イーウーZC便・上海ZC便（低単価５kg制限便）など<br>
                    　　　　　　　　　配送までの期間：中国出荷後４日〜15日程度で配達完了予定
                    <br><br>

                    <under>配送サービス【船便】</under><br>
                    1：混載船便<br>
                    　　　　　　　　　郵便物流を基本とした混載船便。航空搭載禁止商品などで利用<br>
                    　　　　　　　　　配送までの期間：中国出荷後３週間から5週間
                    <br><br>
                    ２：快速船便（海源物流）<br>
                    　　　　　　　　　快速船便サービス。多重量時の国際送料コストカットに効果的。<br>
                    　　　　　　　　　配送までの期間：中国出荷後１０日から２０日程度で配達完了予定
                    <br><br>
                    ※　配送までの期間は、通常時の予定期間になります。天候・各国での規制・祝祭日により到着に時間がかかる場合があります。
                </td>
        </tr>
        
        <tr>
            <th><br>６:国際送料計算について</th>
        </tr>
            <tr>
                <td>当社では、ご利用者様に国際送料の過剰請求及び不足分請求を行わない為発送後の送料連絡を行なっております。<br>
                    商品購入時と同時に国際送料の請求は、基本行いません。<br><br>
                    事前の送料見積もり依頼は、ご連絡を頂けましたら予想送料をご回答いたします。<br><br>
                    配送料金は、重量料金もしくは体積料金のどちらか高い方で配送業者より請求があります。<br>
                    そのため、予定送料額が正式請求額と限らないこと、送料額と異なる場合もある事をあらかじめご了承ください。<br>
                    送料のご質問等はしっかり対応いたします。<br>

                </td>
            </tr>
        <tr>
            <th><br>7:検品について</th>
        </tr>
            <tr>
                <td>
                    <under>写真による商品確認依頼</under><br>
                    　　　　　　　　ご利用者の皆さまには、検品後商品撮影写真をご確認作業をお願いしております。<br>
                    　　　　　　　　商品イメージ差異による日本到着後返品対応など対策のために行なっております。<br><br>
                    簡易検品・詳細検品のサービス内容は以下の様になります。<br><br>

                    <under>簡易検品の作業内容（無料）</under><br>
                    　　　　　　　　①サイズ・色・数量・目視で確認できる程度の汚れの有無などの簡易検品を行います。<br>
                    　　　　　　　　②サイトより、パッケージ、付属品違う事を確認致します。<br>
                    　　　　　　　　※１検品数のより有料になる場合があります。詳しくは手数料関連の規約又はサービス内容ページを確認ください。<br><br>
                    
                    <under>詳細検品の作業内容（有料）</under><br>
                    　　　　　　　　詳細検品の場合、細かく商品検品を行います。<br>
                    　　　　　　　　１商品当たり３元〜の検品手数料をいただきます。<br>
                    　　　　　　　　※２ 商品数・商品内容によって手数料が異なります。詳しくは手数料関連の規約部分又はサービス内容ページを確認ください。<br><br>
                    
                    　　　　　　　　汚れにつきましては簡易検品より細かく確認作業を行います。<br>
                    
                    　　　　　　　　当社の現地作業員が対応可能な不具合につきましては、ご連絡後対応して対応後の写真確認を行っていただきます。<br>
                    
                    　　　　　　　　簡易検品よりお時間がかかるので、商品検品結果連絡が遅くなりますのでご了承ください。
                </td>
        </tr>
        <tr>
            <th><br>８:各種代行手数料について</th>
        </tr>
            <tr>
                <td>当社の各種代行手数料は下記の内容となります。ご確認いただきご了承のうえで当社サービスのご利用をお願いいたします。<br><br>
                    <under>商品買付代行手数料（必須手数料）</under><br>
                    　　　　　　　　こちらの手数料は、「買付代行手数料及び商品交渉依頼作業料金」となります。<br>
                    　　　　　　　　商品個数によって一部手数料が変わります。<br><br>
                    
                    　　　　　　　　商品総個数１個〜3,000個まで：商品代金総額の5％が代行手数料として追加されます。<br>
                    　　　　　　　　（例）レート17元　商品総額　10,000円の場合<br>
                    　　　　　　　　10,000円×0.05＝代行手数料500円<br><br>

                    　　　　　　　　商品総個数3,001個〜9,999個まで：固定代行費用 250元から<br>
                    　　　　　　　　（例）レート17元<br>
                    　　　　　　　　250元×17＝代行手数料 4,250円<br><br>

                    　　　　　　　　商品総個数10,000個以上：固定代行費用 300元から<br>
                    　　　　　　　　（例）レート17元<br>
                    　　　　　　　　300元×17＝代行手数料 5,100円<br><br>
                    <under>FBA納品サービス時の代行手数料</under><br>
                    　　　　　　　　プチプチ包装・OPP包装：1.5元/１個<br>
                    　　　　　　　　商品ラベルシール貼り　：１元/１個（シール代金含む）<br>
                    　　　　　　　　簡単検品　　　　　　　：無料<br>
                    　　　　　　　　セット梱包作業　　　　：0.5元/１個（梱包材含む）<br>
                    　　　　　　　　LOGOラベル貼付　 　　：１元/１個（シール代金含む）<br><br>
                    ※商品に応じて変更する場合があります。その際には「見積もり完了」時に報告を行い許諾後買付けを行います。
            </td>
        </tr>
        <tr>
            <th><br>9:お取り引き扱いできない商品について</th>
        </tr>
            <tr>
                <td>当社は、日本及び中国国内の法令及び規制を遵守いたします。<br>
                    下記の内容は、基本的対応不可になります。<br><br>
                    <under>①中国輸出禁止物</under><br><br>
                    <under>②日本輸入禁止物</under><br><br>
                    <under>③その他法律禁止物</under><br><br>
                    ※お取り扱いできない商品につきましては見積もり時に事前報告は致しています。<br>
                    できる限り発送できるように対応は致していますが,当社推奨配送以外での通関時の商品没収・廃棄等になった場合<br>
                    商品保障外となります。ご了承のほどお願いいたします。

            </td>
        </tr>
        <tr>
            <th><br>10:返品・返金について</th>
        </tr>
            <tr>
                <td>当社の、返品対応及び返金対応でのよくある問題は下記の様になります。サービスご利用と同時に下記対応を許諾したものとします。<br><br>
                    ①到着商品の簡易検品・詳細検品後写真撮影を行い商品確認をお願いしています。<br>

                    写真確認以外の商品不備につきましてはご連絡いただければ交渉いたしますが
                    
                    必ず対応できる保証は致しかねます。予めご了承ください。<br><br>
                    
                    ②中国では、サイトに掲載してる画像と実際の商品が、違う場合が多いです。<br>
                    
                    交渉は致しますが、この理由での返品ができない場合もある事をご注意ください。<br><br>
                    
                    ③外箱、パッケージが破損の理由で、返品できない場合も多いです。交渉は致します。<br><br>
                    
                    ④購入商品がコピー品、非正規品だったという理由での返金が対応致しませんのでご注意ください。<br><br>
                    
                    ⑤お手元に届いた商品が不良の場合は、返品・交換の交渉は致しますが必ず対応されるわけでありません。<br>

                    対応してもらえるショップもありますのでご連絡ください。<br><br>
                    
                    ⑥電子機器等テスト駆動を行っての検品は行いません。<br>
                    
                    不良品があった場合交渉は致しますが必ず返品・返金・交換の対応不可の場合もあります。予めご了承ください。<br><br>
                    
                    ⑦著作権侵害等日本での販売法律に影響がある場合、当社より購入不可のご連絡をする場合がございます<br>
                    
                    また輸入した商品が各法律に違反した場合、当社で返品・返金対応は行いません。<br><br>

                    ⑧返金交渉によるショップからの返金完了後、基本は次回買い付け金・国際送料に充当、もしくは指定の口座に返金を行います。<br>

                    返金に伴うレート計算は、商品購入時のレート価格での返金対応となります。<br>

                    ※指定の日本国内口座に入金の場合、口座振込手数料はご利用者様負担にて振り込みをさせていただきます。

            </td>
        </tr>
        <tr>
            <th><br>11:、免責事項について</th>
        </tr>
            <tr>
                <td>下記に示す事象が起こった場合の損害について、当社はいかなる責任、負担も負いません。<br>
                    
                    ご利用者様は、サービスご利用と同時に下記免責事項を許諾したものとします。<br><br>

                    <under>（1）商品が非正規品、コピー品、模倣品、著作権侵害品、各種法律違反品であった場合。</under><br><br>
                    <under>（2）お客様より申告された情報等に虚偽や誤りがあった場合。</under><br><br>
                    <under>（3）輸送中の事故により、商品が破損した場合。（交渉は致しますが必ず保証ができるかは確約できません）</under><br><br>
                    <under>（4）地震、洪水、津波などの天災及び感染症により商品が届けられなくなった場合。</under><br><br>
                    <under>（5）戦争、騒乱、暴動等により商品が届けられなくなった場合。</under><br><br>
                    <under>（6）商品が税関で没収、処分された場合。</under><br><br>
                    <under>（7）日本に届いた商品が、イメージ違いやお客様の都合で不要となった場合。</under><br><br>
                    <under>（8）利用者希望で緩衝材の削減希望や重量減少や小さく梱包依頼あった場合商品による、破れや破損等の保証及び交渉不可。</under><br><br>
                    <under>（9）その他、当社が原因でない事故、損害等。</under><br>
            </td>
        </tr>
        <tr>
            <th><br>12:規約の改定について</th>
        </tr>
            <tr>
                <td>当社は、利用者の事前の承諾なく本規約を変更することができるものとします。<br>

                    本規約の準拠法は日本法とします。<br>
                    
                    本サービスに関して紛争が生じた場合には、当社の本店所在地を管轄とする島根県松江地方裁判所本庁を
                    
                    専属的合意管轄とします。<br>
                    
                    この場合、本サービスの利用条件は、変更後の本規約によるものとします。<br>
                    変更後の本規約は、弊社のウェブサイト上に掲載した時点より効力を生じるものとします。<br>
            </td>
        </tr>
        </table>
    </div><!-- /.contents-inner -->
  </section><!-- /.contents -->

  <section class="cta">
    <div class="cta-inner">
      <h2 class="section-ttl-03">企業理念</h2><!-- /.section-ttl-02 -->
      <p class="cta-txt">
        「中国輸入における不安」に対して<br><br>
        利用者の皆様が「安心」してご利用いただけるよう<br>合同会社China Primeでは<br><br>
        『安心』して商品に関するコミュニケーションを行える環境を提供<br>
        『安定』した商品輸入環境の提供<br>
        購入者負担を減らし『安価』な商品購入を提供<br><br>
        『３安』を提供する事を理念とし運営をしております。
      </p><!-- /.cta-txt -->
      <a href="https://forms.gle/dA9D4tvwkswB7ire9" class="cta-btn">お問い合わせしてみる</a><!-- /.cta-btn -->
    </div><!-- /.cta-inner -->
  </section><!-- /.cta -->
  <div class='footer'>
    <div class='footer-contents'>
        <div class='furima-details'>
            <h2 class='footer-content-head'>合同会社 China Primeについて</h2>
            <ul>
              <li class="footer-nav-list-item"><a href="gaiyou.html">会社概要(運営会社）</a></li>
              <li class="footer-nav-list-item"><a href="privacy_policy.html">プライバシーポリシー</a></li>
              <li class="footer-nav-list-item"><a href="special_commercial_code_notation.html">特商法にかかる表記</a></li>
            </ul>
        </div>
        <div class='furima-details'>
            <h2 class='footer-content-head'>China Primeのサービスを確認する</h2>
            <ul>
              <li class="footer-nav-list-item"><a href="ryoukin.html">ご利用サービス内容</a></li>
              <li class="footer-nav-list-item"><a href="shop.html">主な仕入可能環境</a></li>
              <li class="footer-nav-list-item"><a href="delivery_company.html">主な配送業者一覧</a></li>
                <!-- <li><%= link_to 'ご利用可能サービス一覧', "#", class: "footer-link" %></li>
                <li><%= link_to '主な仕入れ可能環境', "#", class: "footer-link" %></li>
                <li><%= link_to '主な配送業者一覧', "#", class: "footer-link" %></li> -->
            </ul>
        </div>
        <div class='furima-details'>
            <h2 class='footer-content-head'>China Primeについて</h2>
            <ul>
              <li class="footer-nav-list-item"><a href="kiyaku.html">China Prime利用規約</a></li>
              <!-- <li class="footer-nav-list-item"><a href="">China Prime利用ガイドライン</a></li> -->
              <li class="footer-nav-list-item"><a href="news.html">運営からのお知らせ</a></li>
                <!-- <li><%= link_to 'China Prime利用規約', "#", class: "footer-link" %></li>
                <li><%= link_to 'China Prime利用ガイドライン', "#", class: "footer-link" %></li>
                <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li> -->
            </ul>
        </div>
    </div>
    <p>Copyright(C) 2021 LLC.China Prime All Right Reserved.</p>
</div>
</body>

</html>