<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>合同会社China Prime</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="kiyaku.css">
  <link rel="stylesheet" href="reset.css">
</head>

<body>
  <header class="header">
    <div class="header-inner">
      <h1 class="header-logo"><a href="#"><img src="img/12390.jpg" alt="Coding Practice"></a></h1>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-list-item"><a href="new.html">Top</a></li><!-- /.header-nav-list-item -->
          <li class="header-nav-list-item"><a href="gaiyou.html">会社概要</a></li>
          <li class="header-nav-list-item"><a href="kiyaku.html">利用規約</a></li>
          <li class="header-nav-list-item"><a href="ryoukin.html">利用料金</a></li>
          <!-- <li class="header-nav-list-item"><a href="Q&A.html">よくあるご質問・お問合せ</a></li> -->
          <li class="header-nav-list-item"><a href="https://lin.ee/o89sPAU">公式LINE＠登録</a></li><!-- /.header-nav-list-item -->
        </ul><!-- /.header-nav-list -->
      </nav><!-- /.header-nav -->
    </div><!-- /.header-inner -->
  </header>
  <div class="mv">
    <div class="mv-copy">
      <h1 class="mv-copy-ttl"> Your Only One Import Agency</h1><!-- /.mv-ttl -->
      <p class="mv-copy-txt">Starting from 2015</p><!-- /.mv-txt -->
    </div><!-- /.mv-copy -->
  </div><!-- /.mv -->

  <section class="contents">
    <div class="contents-inner">
      <h2 class="section-ttl">China Prime プライバシーポリシー</h2><!-- /.section-ttl -->
      <table>
        <tr>
        <th>はじめに</th>
        </tr>
        <tr>
        <td>合同会社 China Prime（以後当社）は、お客様の個人情報を適切に保護することを事業運営上の重要事項と位置づけ,
            個人情報の保護に関する法律その他関係法令に従い、以下のとおり、お客様の個人情報を細心の注意をもって管理してまいります。<br>
        </td>
        </tr>
        <tr>
            <th><br>1．この方針における個人情報等の定義</th>
        </tr>
        <tr>
            <td>
                <under>１．個人情報　</under><br>
                当社が取扱う情報のうち、お客様個人を識別できる情報をいい、お客様のお名前、ご住所、お電話番号、メールアドレス、ご勤務先、
                お問合せ内容等、これらのうち1つまたは複数を組み合わせることにより、お客様個人を特定、識別することのできる情報をいいます。<br><br>
                
                <under>２．個人データ　</under><br>
                当社が取扱うお客様の個人情報のうち、特定の個人を検索できるよう整理された情報をいい、コンピュータの検索機能により検索が可能なもの、
                もしくは一定の規則に従い、目次、索引等を付すことにより容易に検索が可能な状態においているものをいいます。<br><br>
                
                <under>３．保有個人データ　</under><br>
                当社が取扱うお客様の個人データのうち、当社自らが作成、整理したデータであって、当社において、
                情報の開示や内容訂正等の権限を有するものをいいます。ただし、保有期間が6ヶ月以内のもの、その他法令に定めるものを除きます。<br><br>
        </td>
        </tr>
        <tr>
            <th><br>2．個人情報の収集</th>
        </tr>
            <tr>
                <td>当社は、適法かつ公正な手段により、個人情報を収集いたします。<br>
            </td>
        </tr>
        <tr>
            <th><br>3．個人情報の利用</th>
        </tr>
            <tr>
                <td>
                    １．当社は、お客様から個人情報をご提供いただく場合には、法令に定める場合を除き、あらかじめ、その利用目的を明示いたします。<br><br>

                    ２．当社は、法令に定める場合を除き、お客様よりご提供いただいた個人情報を、当社が明示した利用目的の範囲内で、
                    業務の遂行上必要な限り<br>　　において使用いたします。<br><br>

                    ３．当社は、業務の遂行上、お客様の個人情報を、第三者との間で共同利用し、または、その取扱いを第三者に委託する場合があります。この<br>
                    　　場合、当社は、当該第三者において、お客様の個人情報を厳正に取扱うよう適正な監督を行います。<br><br>
            </td>
        </tr>
        <tr>
            <th><br>4．個人データの第三者提供</th>
        </tr>
            <tr>
                <td>１．当社は、法令および次項に定める場合を除き、お客様の個人データを、あらかじめお客様の同意を得ることなく、
                    第三者に提供または開示<br>　　いたしません。<br><br>

                    ２．当社は、業務の遂行上やむをえず、お客様の同意を得ないで、お客様の個人データを第三者に提供させていただく場合があります。この<br>
                    　　場合、お客様からのお申出があれば、法令に従い、第三者への提供を停止いたします。<br><br>
                    
                    ３．当社は、業務の遂行上、お客様の個人情報を、第三者との間で共同利用し、または、その取扱いを第三者に委託する場合があります。この<br>
                    　　場合、当社は、当該第三者において、お客様の個人情報を厳正に取扱うよう、適正な監督を行います。<br><br>
        </tr>
        <tr>
            <th><br>5．保有個人データの安全管理対策等</th>
        </tr>
            <tr>
                <td>当社は、お客様に関する保有個人データを安全に管理するため、次のとおりの取り組みを行います。<br>
                    個人情報の紛失、破壊、改ざんおよび漏えい等を防止するため、不正アクセス、コンピュータウイルス等に対する合理的な対策を講じます。<br><br>
                </td>
        </tr>
        
        <tr>
            <th><br>6．保有個人データの開示・訂正・利用停止等</th>
        </tr>
            <tr>
                <td>当社は、お客様に関する保有個人データについて、お客様ご自身がその開示・訂正・利用停止等を求める権利を有していることを認識し、
                    お客様よりこれらの要求があった場合には、法令に従い、速やかに対応いたします。<br>
                    <br>
                </td>
            </tr>
        <tr>
            <th><br>7．個人情報の保護に関する規定等の策定・実施等</th>
        </tr>
            <tr>
                <td>当社は、この方針を実行するため、お客様の個人情報の保護に関する内部規定を策定し、これを当社役職員その他関係者に周知徹底させて実施<br>
                    いたします。また、これを継続的に維持し、必要な改善をしてまいります。<br><br>
                </td>
        </tr>
        <tr>
            <th><br>8．この方針の適用および改定</th>
        </tr>
            <tr>
                <td>この方針の内容は、当ウェブサイト掲載日より適用いたします。また、この方針は、法令等の要請その他当社が必要と認めた場合に予告なく改定
                    する場合があります。(最新の情報については、当ウェブサイト内に掲載いたします)<br><br
            </td>
        </tr>
        </table>
    </div><!-- /.contents-inner -->
  </section><!-- /.contents -->

  <section class="cta">
    <div class="cta-inner">
      <h2 class="section-ttl-03">企業理念</h2><!-- /.section-ttl-02 -->
      <p class="cta-txt">
        「中国輸入における不安」に対して<br><br>
        利用者の皆様が「安心」してご利用いただけるよう<br>合同会社China Primeでは<br><br>
        『安心』して商品に関するコミュニケーションを行える環境を提供<br>
        『安定』した商品輸入環境の提供<br>
        購入者負担を減らし『安価』な商品購入を提供<br><br>
        『３安』を提供する事を理念とし運営をしております。
      </p><!-- /.cta-txt -->
      <a href="https://forms.gle/dA9D4tvwkswB7ire9" class="cta-btn">お問い合わせしてみる</a><!-- /.cta-btn -->
    </div><!-- /.cta-inner -->
  </section><!-- /.cta -->
  <div class='footer'>
    <div class='footer-contents'>
        <div class='furima-details'>
            <h2 class='footer-content-head'>合同会社 China Primeについて</h2>
            <ul>
              <li class="footer-nav-list-item"><a href="gaiyou.html">会社概要(運営会社）</a></li>
              <li class="footer-nav-list-item"><a href="privacy_policy.html">プライバシーポリシー</a></li>
              <li class="footer-nav-list-item"><a href="special_commercial_code_notation.html">特商法にかかる表記</a></li>
            </ul>
        </div>
        <div class='furima-details'>
            <h2 class='footer-content-head'>China Primeのサービスを確認する</h2>
            <ul>
              <li class="footer-nav-list-item"><a href="ryoukin.html">ご利用サービス内容</a></li>
              <li class="footer-nav-list-item"><a href="shop.html">主な仕入可能環境</a></li>
              <li class="footer-nav-list-item"><a href="delivery_company.html">主な配送業者一覧</a></li>
                <!-- <li><%= link_to 'ご利用可能サービス一覧', "#", class: "footer-link" %></li>
                <li><%= link_to '主な仕入れ可能環境', "#", class: "footer-link" %></li>
                <li><%= link_to '主な配送業者一覧', "#", class: "footer-link" %></li> -->
            </ul>
        </div>
        <div class='furima-details'>
            <h2 class='footer-content-head'>China Primeについて</h2>
            <ul>
              <li class="footer-nav-list-item"><a href="kiyaku.html">China Prime利用規約</a></li>
              <!-- <li class="footer-nav-list-item"><a href="">China Prime利用ガイドライン</a></li> -->
              <li class="footer-nav-list-item"><a href="news.html">運営からのお知らせ</a></li>
                <!-- <li><%= link_to 'China Prime利用規約', "#", class: "footer-link" %></li>
                <li><%= link_to 'China Prime利用ガイドライン', "#", class: "footer-link" %></li>
                <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li> -->
            </ul>
        </div>
    </div>
    <p>Copyright(C) 2021 LLC.China Prime All Right Reserved.</p>
</div>
</body>

</html>