<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>合同会社China Prime</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="reset.css">
</head>

<body>
  <header class="header">
    <div class="header-inner">
      <h1 class="header-logo"><a href="#"><img src="img/12390.jpg" alt="Coding Practice"></a></h1>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-list-item"><a href="new.html">Top</a></li><!-- /.header-nav-list-item -->
          <li class="header-nav-list-item"><a href="gaiyou.html">会社概要</a></li>
          <li class="header-nav-list-item"><a href="kiyaku.html">利用規約</a></li>
          <li class="header-nav-list-item"><a href="ryoukin.html">利用料金</a></li>
          <!-- <li class="header-nav-list-item"><a href="Q&A.html">よくあるご質問・お問合せ</a></li> -->
          <li class="header-nav-list-item"><a href="https://lin.ee/o89sPAU">公式LINE＠登録</a></li><!-- /.header-nav-list-item -->
        </ul><!-- /.header-nav-list -->
      </nav><!-- /.header-nav -->
    </div><!-- /.header-inner -->
  </header>
  <div class="mv">
    <div class="mv-copy">
      <h1 class="mv-copy-ttl"> Your Only One Import Agency</h1><!-- /.mv-ttl -->
      <p class="mv-copy-txt">Starting from 2015</p><!-- /.mv-txt -->
    </div><!-- /.mv-copy -->
  </div><!-- /.mv -->

  <section class="contents">
    <div class="contents-inner">
      <h2 class="section-ttl">China Primeが選ばれるサービス内容</h2><!-- /.section-ttl -->
      <h3 class="section-ttl-02">気になるサービスは画像をクリック！</h3>
      <div class="wrapper">
        <div class="contents-box">
          <figure class="contents-box-img"><img src="img/english_kaiwa_bad_man.png" alt=""></figure>
          <!-- /.contents-box-img -->
          <div class="contents-box-info">
            <h2>言葉の壁は<br>問題ありません！</h2>
            <br>
            <p>
              商品に問題があっても職員が<br>責任を持ってやりとりを行います。
            </p>
            <!-- <time datetime="2020.06.28">2020.06.28</time> -->
          </div><!-- /.contents-box-info -->
        </div><!-- /.contents-box -->
        <div class="contents-box">
          <figure class="contents-box-img"><img src="img/computer_crt_monitor_desktop.png" alt=""></figure>
          <!-- /.contents-box-img -->
          <div class="contents-box-info">
            <h2>
              シンプルで使いやすい<br>
              単純な発注方法
            </h2>
            <br>
            <p>管理シートで一元化。<br>コピペだけで完結します。
            </p>
            <!-- <time datetime="2020.06.28">2020.07.02</time> -->
          </div><!-- /.contents-box-info -->
        </div><!-- /.contents-box -->
        <div class="contents-box">
          <figure class="contents-box-img"><img src="img/cost_cut_sakugen_samurai.png" alt=""></figure>
          <!-- /.contents-box-img -->
          <div class="contents-box-info">
            <h2>
              様々な支払い方法に対応！<br>
              きっと
            </h2>
            <br>
            <p>利用者負担になるコストを<br>限界までカット！
            </p>
            <!-- <time datetime="2020.06.28">2020.07.10</time> -->
          </div><!-- /.contents-box-info -->
        </div><!-- /.contents-box -->

      </div><!-- /.wrapper -->
      <!-- <a href="#" class="btn">もっと見る</a>/.btn -->
    </div><!-- /.contents-inner -->
  </section><!-- /.contents -->

  <section class="contents">
    <div class="contents-inner">
      <!-- <h2 class="section-ttl">China Primeが選ばれる理由</h2>/.section-ttl -->
      <div class="wrapper">
        <div class="contents-box">
          <figure class="contents-box-img"><img src="img/english_kaiwa_bad_man.png" alt=""></figure>
          <!-- /.contents-box-img -->
          <div class="contents-box-info">
            <h2>商品購入時から<br>他社よりも迅速対応！</h2>
            <br>
            <p>
              『無駄な時間を短縮』！<br>当社独自の流れで商品依頼に<br>迅速対応可能です！
            </p>
            <!-- <time datetime="2020.06.28">2020.06.28</time> -->
          </div><!-- /.contents-box-info -->
        </div><!-- /.contents-box -->
        <div class="contents-box">
          <figure class="contents-box-img"><img src="img/computer_crt_monitor_desktop.png" alt=""></figure>
          <!-- /.contents-box-img -->
          <div class="contents-box-info">
            <h2>ちょっとした相談事も<br>気軽にご連絡ください！</h2>
            <br>
            <p>
              当社で対応できる事は<br>
              できる限り対応・交渉致します！
            </p>
            <!-- <time datetime="2020.06.28">2020.07.02</time> -->
          </div><!-- /.contents-box-info -->
        </div><!-- /.contents-box -->
        <div class="contents-box">
          <figure class="contents-box-img"><img src="img/cost_cut_sakugen_samurai.png" alt=""></figure>
          <!-- /.contents-box-img -->
          <div class="contents-box-info">
            <h2>いろんな商品に対応可能な<br>国際輸入ルートを確保！</h2>
            <br>
            <p>
              配送における悩みはありますか？<br><br>
              貴方に合う配送プランをご提案<br>
              できるかもしれません。
            </p>
            <!-- <time datetime="2020.06.28">2020.07.10</time> -->
          </div><!-- /.contents-box-info -->
        </div><!-- /.contents-box -->

      </div><!-- /.wrapper -->
      <!-- <a href="#" class="btn">もっと見る</a>/.btn -->
    </div><!-- /.contents-inner -->
  </section><!-- /.contents -->

  <section class="cta">
    <div class="cta-inner">
      <h2 class="section-ttl-03">企業理念</h2><!-- /.section-ttl-02 -->
      <p class="cta-txt">
        「中国輸入における不安」に対して<br><br>
        利用者の皆様が「安心」してご利用いただけるよう<br>合同会社China Primeでは<br><br>
        『安心』して商品に関するコミュニケーションを行える環境を提供<br>
        『安定』した商品輸入環境の提供<br>
        購入者負担を減らし『安価』な商品購入を提供<br><br>
        『３安』を提供する事を理念とし運営をしております。
      </p><!-- /.cta-txt -->
      <a href="#" class="cta-btn">お問い合わせしてみる</a><!-- /.cta-btn -->
    </div><!-- /.cta-inner -->
  </section><!-- /.cta -->
  <div class='footer'>
    <div class='footer-contents'>
        <div class='furima-details'>
            <h2 class='footer-content-head'>合同会社 China Primeについて</h2>
            <ul>
              <li class="footer-nav-list-item"><a1 href="">会社概要(運営会社）</a1></li>
              <li class="footer-nav-list-item"><a1 href="">プライバシーポリシー</a1></li>
              <li class="footer-nav-list-item"><a1 href="">特商法にかかる表記</a1></li>
            </ul>
        </div>
        <div class='furima-details'>
            <h2 class='footer-content-head'>China Primeのサービスを確認する</h2>
            <ul>
              <li class="footer-nav-list-item"><a1 href="">ご利用サービス内容</a1></li>
              <li class="footer-nav-list-item"><a1 href="">主な仕入可能環境</a1></li>
              <li class="footer-nav-list-item"><a1 href="">主な配送業者一覧</a1></li>
                <!-- <li><%= link_to 'ご利用可能サービス一覧', "#", class: "footer-link" %></li>
                <li><%= link_to '主な仕入れ可能環境', "#", class: "footer-link" %></li>
                <li><%= link_to '主な配送業者一覧', "#", class: "footer-link" %></li> -->
            </ul>
        </div>
        <div class='furima-details'>
            <h2 class='footer-content-head'>China Primeについて</h2>
            <ul>
              <li class="footer-nav-list-item"><a1 href="">China Prime利用規約</a1></li>
              <li class="footer-nav-list-item"><a1 href="">China Prime利用ガイドライン</a1></li>
              <li class="footer-nav-list-item"><a1 href="">運営からのお知らせ</a1></li>
                <!-- <li><%= link_to 'China Prime利用規約', "#", class: "footer-link" %></li>
                <li><%= link_to 'China Prime利用ガイドライン', "#", class: "footer-link" %></li>
                <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li> -->
            </ul>
        </div>
    </div>
    <p>Copyright(C) 2021 LLC.China Prime All Right Reserved.</p>
</div>
</body>

</html>