<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>合同会社China Prime</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="ryoukin.css">
  <link rel="stylesheet" href="kiyaku.css">
  <link rel="stylesheet" href="reset.css">
</head>

<body>
  <header class="header">
    <div class="header-inner">
      <h1 class="header-logo"><a href="#"><img src="img/12390.jpg" alt="Coding Practice"></a></h1>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-list-item"><a href="new.html">Top</a></li><!-- /.header-nav-list-item -->
          <li class="header-nav-list-item"><a href="gaiyou.html">会社概要</a></li>
          <li class="header-nav-list-item"><a href="kiyaku.html">利用規約</a></li>
          <li class="header-nav-list-item"><a href="ryoukin.html">利用料金</a></li>
          <!-- <li class="header-nav-list-item"><a href="Q&A.html">よくあるご質問・お問合せ</a></li> -->
          <li class="header-nav-list-item"><a href="https://lin.ee/o89sPAU">公式LINE＠登録</a></li><!-- /.header-nav-list-item -->
        </ul><!-- /.header-nav-list -->
      </nav><!-- /.header-nav -->
    </div><!-- /.header-inner -->
  </header>
  <div class="mv">
    <div class="mv-copy">
      <h1 class="mv-copy-ttl"> Your Only One Import Agency</h1><!-- /.mv-ttl -->
      <p class="mv-copy-txt">Starting from 2015</p><!-- /.mv-txt -->
    </div><!-- /.mv-copy -->
  </div><!-- /.mv -->

  <section class="contents">
    <div class="contents-inner">
      <h2 class="section-ttl">主要配送業者一覧</h2><!-- /.section-ttl -->
      <table>
        <tr>
          <th><br>1：OCS</th>
        </tr>
      <tr>
        <td>　日本の航空会社ANAの資本参加により、ジャパンクオリティーで個人宅までの配達からFBA倉庫直送まで行える輸送会社です。<br><br>
                    
          <under>　日本国内での主な配送業社　</under><br>
          　　　　　　　　　個人向け配送業社：佐川急便<br>
          　　　　　　　　　法人向け配送業社：OCS　※一部地域は佐川急便
          <br><br>
          <under>　料金形式　</under><br>
          　　　　　　　　　１：重量計算と容積重量計算の２種類のうち重たい方で請求がかかります。<br>
          　　　　　　　　　　　（容積重量換算値＝[縦(cm)×横(cm)×高さ(cm)÷体積重量換算定数6000]<br>
          　　　　　　　　　２：21kg以上はkg単価計算に変更となります。<br>
          　　　　　　　　　　　15kg以上は割高となります。仕入れ数を増やす等のご提案の上、国際送料を下げる事をお勧めする場合がございます。
          <br><br>
          <under>　納期（目安）　</under><br>
          　　　　　　　　　中国出荷から4日位で商品到着予定となります。※一部地域は1日から2日遅くなる可能性もあります。<br>
          <br><br>
          <under>　通関について　</under><br>
          　　　　　　　　　荷物通関はOCSが代行致します。<br>
          　　　　　　　　　関税が発生した場合、OCSから関税請求書を発行し、ご利用者様がOCSに関税料金を支払う形になります
          <br><br>
          <under>　その他　</under><br>
          　　　　　　　　　<under>AmazonFBA倉庫直送サービスで利用可能</under>です
          <br><br>
        </td>
      </tr>
      <tr>
        <th><br>OCS配送料金一覧表（17.5元計算）8/29日更新</th><br>
      </tr>
      </table>
      <table>
        <thead>
            <tr>
                <th scope="col">重量(Kg)</th>
                <th scope="col">価格(元)</th>
                <th scope="col">価格(円)</th>
                <th scope="col">重量(Kg)</th>
                <th scope="col">価格(元)</th>
                <th scope="col">価格(円)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>１kg</th>
                <!-- <td data-label="内容" class="txt"><span>はじめての方向け。ベーシックなお試しプラン</span></td> -->
                <td data-label="価格"class="price">115　</td>
                <td data-label="価格"class="price">¥2,013　</td>
                <th>１１kg</th>
                <td data-label="価格"class="price">525　</td>
                <td data-label="価格"class="price">¥9,188　</td>
            </tr>
            <tr>
                <th>２kg</th>
                <!-- <td data-label="内容" class="txt">必要なものだけ揃えられるカスタムプラン</td> -->
                <td data-label="価格"class="price">155　</td>
                <td data-label="価格"class="price">¥2,713　</td>
                <th>１２kg</th>
                <td data-label="価格"class="price">565　</td>
                <td data-label="価格"class="price">¥9,888　</td>
            </tr>
            <tr>
                <th>３kg</th>
                <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
                <td data-label="価格"class="price">195　</td>
                <td data-label="価格"class="price">¥3,413　</td>
                <th>１３kg</th>
                <td data-label="価格"class="price">605　</td>
                <td data-label="価格"class="price">¥10,588　</td>
            </tr>
            <tr>
              <th>4kg</th>
              <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
              <td data-label="価格"class="price">235　</td>
              <td data-label="価格"class="price">¥4,113　</td>
              <th>１4kg</th>
              <td data-label="価格"class="price">645　</td>
              <td data-label="価格"class="price">¥11,288　</td>
          </tr>
          <tr>
            <th>5kg</th>
            <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
            <td data-label="価格"class="price">275　</td>
            <td data-label="価格"class="price">¥4,813　</td>
            <th>１5kg</th>
            <td data-label="価格"class="price">685　</td>
            <td data-label="価格"class="price">¥11,988　</td>
          </tr>
          <tr>
            <th>6kg</th>
            <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
            <td data-label="価格"class="price">315　</td>
            <td data-label="価格"class="price">¥5,513　</td>
            <th>１6kg</th>
            <td data-label="価格"class="price">725　</td>
            <td data-label="価格"class="price">¥12,688　</td>
          </tr>
          <tr>
            <th>7kg</th>
            <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
            <td data-label="価格"class="price">355　</td>
            <td data-label="価格"class="price">¥6,213　</td>
            <th>１7kg</th>
            <td data-label="価格"class="price">765　</td>
            <td data-label="価格"class="price">¥13,388　</td>
          </tr>
          <tr>
            <th>8kg</th>
            <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
            <td data-label="価格"class="price">405　</td>
            <td data-label="価格"class="price">¥7,088　</td>
            <th>１8kg</th>
            <td data-label="価格"class="price">805　</td>
            <td data-label="価格"class="price">¥14,088　</td>
          </tr>
          <tr>
            <th>9kg</th>
            <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
            <td data-label="価格"class="price">445　</td>
            <td data-label="価格"class="price">¥7,788　</td>
            <th>１9kg</th>
            <td data-label="価格"class="price">845　</td>
            <td data-label="価格"class="price">¥14,788　</td>
          </tr>
          <tr>
            <th>１０kg</th>
            <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
            <td data-label="価格"class="price">485　</td>
            <td data-label="価格"class="price">¥8,488　</td>
            <th>２０kg</th>
            <td data-label="価格"class="price">885　</td>
            <td data-label="価格"class="price">¥15,488　</td>
          </tr>
          <tr>
            <th>２１kg〜</th>
            <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
            <td data-label="価格"class="price">４０元/１kg　</td>
            <td data-label="価格"class="price">¥14,700〜</td>
          </tr>
        </tbody>
      </table>
    <br><br><br>
    <table>
      <tr>
        <th><br>２：EMS（郵便サービス）</th>
      </tr>
    <tr>
      <td>　国際小包サービスです。現在の配送サービスでは一番早く着く配送サービスです。細かな規則（料金形式・その他参照）はありますが<br>
        　小口配送から１箱梱包配送ではメリットのある配送ルートです。<br><br>
        <under>　日本国内での主な配送業社　</under><br>
        　　　　　　　　　個人向け配送業社：日本郵便<br>
        　　　　　　　　　法人向け配送業社：日本郵便
        <br><br>
        <under>　料金形式　</under><br>
        　　　　　　　　　１：重量計算と容積重量計算の２種類のうち重たい方で請求がかかります。<br>
        　　　　　　　　　　　（容積重量換算値＝[縦(cm)×横(cm)×高さ(cm)÷体積重量換算定数6000]<br>
        　　　　　　　　　２：重量の上限は、１箱３０kgになります。<br>
        　　　　　　　　　　　１件あたり１箱までとなります。複数箱の場合、複数件数として料金が加算されます。<br>
        　　　　　　　　　３：１辺120cm以上又は縦・横・高さの合計が300cm以上の商品は取扱不可になります。
        <br><br>
        <under>　納期（目安）　</under><br>
        　　　　　　　　　中国出荷から平日は２〜３日位で商品到着予定となります。※一部地域は1日から2日遅くなる可能性もあります。<br>
        　　　　　　　　　土曜日出荷荷物は翌週月曜日発送になります。
        <br><br>
        <under>　通関について　</under><br>
        　　　　　　　　　荷物通関は国際郵便局が代行を行います。<br>
        　　　　　　　　　関税が発生した場合、荷物を受け取る際にご利用者様が郵便配達員に関税料金を支払う形になります<br>
        　　　　　　　　　輸入総額が２０万円を超える場合、別途輸入申告手数料（ご利用者様負担）がかかります。
        <br><br>
        <under>　その他　</under><br>
        　　　　　　　　　AmazonFBA倉庫直送サービスは<under>利用不可</under>です<br>
        　　　　　　　　　以下のような商品につきましては<under>利用不可</under>となります。<br>
        　　　　　　　　　１：バッテリー・電池内臓商品<br>
        　　　　　　　　　２：香水・のりなどの液体商品<br>
        　　　　　　　　　３：磁石やスピーカーなどの磁気性のある商品<br>
        　　　　　　　　　４：ナイフ・爆弾などの武器類及び武器形状の商品
        <br><br>
      </td>
    </tr>
    <tr>
      <th><br>EMS配送料金一覧表（17.5元計算）8/30日更新</th><br>
    </tr>
    </table>
    <table>
      <thead>
          <tr>
              <th scope="col">重量(Kg)</th>
              <th scope="col">価格(元)</th>
              <th scope="col">価格(円)</th>
              <th scope="col">重量(Kg)</th>
              <th scope="col">価格(元)</th>
              <th scope="col">価格(円)</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <th>１kg</th>
              <!-- <td data-label="内容" class="txt"><span>はじめての方向け。ベーシックなお試しプラン</span></td> -->
              <td data-label="価格"class="price">９７　</td>
              <td data-label="価格"class="price">¥1,698　</td>
              <th>１６kg</th>
              <td data-label="価格"class="price">３６３　</td>
              <td data-label="価格"class="price">¥6,353　</td>
          </tr>
          <tr>
              <th>２kg</th>
              <!-- <td data-label="内容" class="txt">必要なものだけ揃えられるカスタムプラン</td> -->
              <td data-label="価格"class="price">１２４　</td>
              <td data-label="価格"class="price">¥2,170　</td>
              <th>１７kg</th>
              <td data-label="価格"class="price">３８３　</td>
              <td data-label="価格"class="price">¥6,703　</td>
          </tr>
          <tr>
              <th>３kg</th>
              <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
              <td data-label="価格"class="price">１２９　</td>
              <td data-label="価格"class="price">¥2,258　</td>
              <th>１８kg</th>
              <td data-label="価格"class="price">４０４　</td>
              <td data-label="価格"class="price">¥7,070　</td>
          </tr>
          <tr>
            <th>4kg</th>
            <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
            <td data-label="価格"class="price">１５２　</td>
            <td data-label="価格"class="price">¥2,660　</td>
            <th>１９kg</th>
            <td data-label="価格"class="price">４２４　</td>
            <td data-label="価格"class="price">¥7,420　</td>
        </tr>
        <tr>
          <th>5kg</th>
          <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
          <td data-label="価格"class="price">１７５　</td>
          <td data-label="価格"class="price">¥3,063　</td>
          <th>２０kg</th>
          <td data-label="価格"class="price">４４５　</td>
          <td data-label="価格"class="price">¥7,788　</td>
        </tr>
        <tr>
          <th>6kg</th>
          <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
          <td data-label="価格"class="price">１９８　</td>
          <td data-label="価格"class="price">¥3,465　</td>
          <th>２１kg</th>
          <td data-label="価格"class="price">４９４　</td>
          <td data-label="価格"class="price">¥8,645　</td>
        </tr>
        <tr>
          <th>7kg</th>
          <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
          <td data-label="価格"class="price">２２０　</td>
          <td data-label="価格"class="price">¥3,850　</td>
          <th>２２kg</th>
          <td data-label="価格"class="price">５１５　</td>
          <td data-label="価格"class="price">¥9,013　</td>
        </tr>
        <tr>
          <th>8kg</th>
          <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
          <td data-label="価格"class="price">２４３　</td>
          <td data-label="価格"class="price">¥4,253　</td>
          <th>２３kg</th>
          <td data-label="価格"class="price">５３５　</td>
          <td data-label="価格"class="price">¥9,363　</td>
        </tr>
        <tr>
          <th>9kg</th>
          <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
          <td data-label="価格"class="price">２６６　</td>
          <td data-label="価格"class="price">¥4,655　</td>
          <th>２４kg</th>
          <td data-label="価格"class="price">５５８　</td>
          <td data-label="価格"class="price">¥9,765　</td>
        </tr>
        <tr>
          <th>１０kg</th>
          <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
          <td data-label="価格"class="price">２８９　</td>
          <td data-label="価格"class="price">¥5,058　</td>
          <th>２５kg</th>
          <td data-label="価格"class="price">５７６　</td>
          <td data-label="価格"class="price">¥10,080　</td>
        </tr>
        <tr>
          <th>１１kg</th>
          <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
          <td data-label="価格"class="price">３０１　</td>
          <td data-label="価格"class="price">¥5,268　</td>
          <th>２６kg</th>
          <td data-label="価格"class="price">５９６　</td>
          <td data-label="価格"class="price">¥10,430　</td>
        </tr>
        <tr>
          <th>１２kg</th>
          <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
          <td data-label="価格"class="price">３１１　</td>
          <td data-label="価格"class="price">¥5,443　</td>
          <th>２７kg</th>
          <td data-label="価格"class="price">６１７　</td>
          <td data-label="価格"class="price">¥10,798　</td>
        </tr>
        <tr>
          <th>１３kg</th>
          <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
          <td data-label="価格"class="price">３２２　</td>
          <td data-label="価格"class="price">¥5,635　</td>
          <th>２８kg</th>
          <td data-label="価格"class="price">６３７　</td>
          <td data-label="価格"class="price">¥11,148　</td>
        </tr>
        <tr>
          <th>１４kg</th>
          <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
          <td data-label="価格"class="price">３３２　</td>
          <td data-label="価格"class="price">¥5,810　</td>
          <th>２９kg</th>
          <td data-label="価格"class="price">６５７　</td>
          <td data-label="価格"class="price">¥11,498　</td>
        </tr>
        <tr>
          <th>１５kg</th>
          <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
          <td data-label="価格"class="price">３５３　</td>
          <td data-label="価格"class="price">¥6,178　</td>
          <th>３０kg</th>
          <td data-label="価格"class="price">６７８　</td>
          <td data-label="価格"class="price">¥11,865　</td>
        </tr>
      </tbody>
  </table>
  <br><br><br>
  <table>
    <tr>
      <th><br>３：ZC便（小口荷物便）</th>
    </tr>
  <tr>
    <td>　１品もの商品配送などの低重量商品対応の輸送会社です。<br>
      　ZC便は、納期に余裕がある場合・低重量で大きな商品（サイズについては料金形式参照）の場合にご利用を勧める時があります。<br><br>
      <under>　日本国内での主な配送業社　</under><br>
      　　　　　　　　　個人向け配送業社：佐川急便<br>
      　　　　　　　　　法人向け配送業社：佐川急便<br>
      　　　　　　　　　※一部地域では異なる場合があります。
      <br><br>
      <under>　料金形式　</under><br>
      　　　　　　　　　１：重量計算と容積重量計算の２種類のうち重たい方で請求がかかります。<br>
      　　　　　　　　　　　（容積重量換算値＝[縦(cm)×横(cm)×高さ(cm)÷体積重量換算定数6000]<br>
      　　　　　　　　　２：梱包の重量は５kg以内となります。<br>
      　　　　　　　　　３：１辺120cm以上又は縦・横・高さの合計が160cm以上の商品は取扱不可になります。<br>
      　　　　　　　　　４：北海道・沖縄及び離島の配達の場合、１件あたり150元の追加送料が加算されます。
      <br><br>
      <under>　納期（目安）　</under><br>
      　　　　　　　　　中国出荷から4日〜7日で商品到着予定となります。※一部地域は1日から2日遅くなる可能性もあります。<br>
      <br><br>
      <under>　通関について　</under><br>
      　　　　　　　　　荷物通関はZCが代行致します。<br>
      　　　　　　　　　関税が発生した場合、ご利用者様が配送表者に関税料金を支払う形になります<br>
      　　　　　　　　　※商品総額が200元を超える場合は、ご利用をお勧めしません。追加料金がかかる場合があります。
      <br><br>
      <under>　その他　</under><br>
      　　　　　　　　　AmazonFBA倉庫直送サービスは<under>利用不可</under>です
      <br><br>
    </td>
  </tr>
  <tr>
    <th><br>ZC配送料金一覧表（17.5元計算）5/1日更新</th><br>
  </tr>
  </table>
  <table>
    <thead>
        <tr>
            <th scope="col">重量(Kg)</th>
            <th scope="col">価格(元)</th>
            <th scope="col">価格(円)</th>
            <th scope="col">重量(Kg)</th>
            <th scope="col">価格(元)</th>
            <th scope="col">価格(円)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>〜0.5kg</th>
            <!-- <td data-label="内容" class="txt"><span>はじめての方向け。ベーシックなお試しプラン</span></td> -->
            <td data-label="価格"class="price">６５　</td>
            <td data-label="価格"class="price">¥1,138　</td>
            <th>3kg</th>
            <td data-label="価格"class="price">１２４　</td>
            <td data-label="価格"class="price">¥2,170　</td>
        </tr>
        <tr>
            <th>1kg</th>
            <!-- <td data-label="内容" class="txt">必要なものだけ揃えられるカスタムプラン</td> -->
            <td data-label="価格"class="price">７７　</td>
            <td data-label="価格"class="price">¥1,348　</td>
            <th>3.5kg</th>
            <td data-label="価格"class="price">１３６　</td>
            <td data-label="価格"class="price">¥2,380　</td>
        </tr>
        <tr>
            <th>1.5kg</th>
            <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
            <td data-label="価格"class="price">８９　</td>
            <td data-label="価格"class="price">¥1,558　</td>
            <th>4kg</th>
            <td data-label="価格"class="price">１４８　</td>
            <td data-label="価格"class="price">¥2,590　</td>
        </tr>
        <tr>
          <th>2kg</th>
          <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
          <td data-label="価格"class="price">１００　</td>
          <td data-label="価格"class="price">¥1,750　</td>
          <th>4.5kg</th>
          <td data-label="価格"class="price">１６０　</td>
          <td data-label="価格"class="price">¥2,800　</td>
      </tr>
      <tr>
        <th>2.5kg</th>
        <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
        <td data-label="価格"class="price">１１２　</td>
        <td data-label="価格"class="price">¥1,960　</td>
        <th>５kg</th>
        <td data-label="価格"class="price">１７２　</td>
        <td data-label="価格"class="price">¥3,010　</td>
      </tr>
    </tbody>
  </table>
  <br><br><br>
  <table>
    <tr>
      <th><br>４：深圳ZC便（電子便）</th>
    </tr>
  <tr>
    <td>　深圳ZCは、航空機貨物搭載が困難な商品対応の輸送会社です。<br>
      　対応する商品としては、モーター搭載・電子部品内臓商品・磁気性のある商品など通常航空搭載が困難な場合及び通関に支障が出る<br>
      　場合にご利用を勧める場合があります。<br><br>
      <under>　日本国内での主な配送業社　</under><br>
      　　　　　　　　　個人向け配送業社：佐川急便<br>
      　　　　　　　　　法人向け配送業社：佐川急便<br>
      　　　　　　　　　※一部地域では異なる場合があります。
      <br><br>
      <under>　料金形式　</under><br>
      　　　　　　　　　１：重量計算と容積重量計算の２種類のうち重たい方で請求がかかります。<br>
      　　　　　　　　　　　（容積重量換算値＝[縦(cm)×横(cm)×高さ(cm)÷体積重量換算定数6000]<br>
      　　　　　　　　　２：梱包の重量は５kg以内となります。<br>
      　　　　　　　　　３：１辺120cm以上又は縦・横・高さの合計が160cm以上の商品は取扱不可になります。<br>
      　　　　　　　　　４：北海道・沖縄及び離島の配達の場合、１件あたり150元の追加送料が加算されます。
      <br><br>
      <under>　納期（目安）　</under><br>
      　　　　　　　　　中国出荷から5日〜10日で商品到着予定となります。※一部地域は1日から2日遅くなる可能性もあります。<br>
      <br><br>
      <under>　通関について　</under><br>
      　　　　　　　　　荷物通関はZCが代行致します。<br>
      　　　　　　　　　関税が発生した場合、ご利用者様が配送表者に関税料金を支払う形になります<br>
      　　　　　　　　　※商品総額が200元を超える場合は、ご利用をお勧めしません。追加料金がかかる場合があります。
      <br><br>
      <under>　その他　</under><br>
      　　　　　　　　　AmazonFBA倉庫直送サービスは<under>利用不可</under>です。※FBA電子便納品は、要見積もりサービスになります。
      <br><br>
    </td>
  </tr>
  <tr>
    <th><br>深圳ZC配送料金一覧表（17.5元計算）5/1日更新</th><br>
  </tr>
  </table>
  <table>
    <thead>
        <tr>
            <th scope="col">重量(Kg)</th>
            <th scope="col">価格(元)</th>
            <th scope="col">価格(円)</th>
            <th scope="col">重量(Kg)</th>
            <th scope="col">価格(元)</th>
            <th scope="col">価格(円)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>〜0.5kg</th>
            <!-- <td data-label="内容" class="txt"><span>はじめての方向け。ベーシックなお試しプラン</span></td> -->
            <td data-label="価格"class="price">８５　</td>
            <td data-label="価格"class="price">¥1,488　</td>
            <th>3kg</th>
            <td data-label="価格"class="price">１８５　</td>
            <td data-label="価格"class="price">¥3,238　</td>
        </tr>
        <tr>
            <th>1kg</th>
            <!-- <td data-label="内容" class="txt">必要なものだけ揃えられるカスタムプラン</td> -->
            <td data-label="価格"class="price">１０５　</td>
            <td data-label="価格"class="price">¥1,838　</td>
            <th>3.5kg</th>
            <td data-label="価格"class="price">２０５　</td>
            <td data-label="価格"class="price">¥3,588　</td>
        </tr>
        <tr>
            <th>1.5kg</th>
            <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
            <td data-label="価格"class="price">１２５　</td>
            <td data-label="価格"class="price">¥2,188　</td>
            <th>4kg</th>
            <td data-label="価格"class="price">２２５　</td>
            <td data-label="価格"class="price">¥3,938　</td>
        </tr>
        <tr>
          <th>2kg</th>
          <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
          <td data-label="価格"class="price">１４５　</td>
          <td data-label="価格"class="price">¥2,538　</td>
          <th>4.5kg</th>
          <td data-label="価格"class="price">２４５　</td>
          <td data-label="価格"class="price">¥3,938　</td>
      </tr>
      <tr>
        <th>2.5kg</th>
        <!-- <td data-label="内容" class="txt">全ておまかせのプレミアムプラン</td> -->
        <td data-label="価格"class="price">１６５　</td>
        <td data-label="価格"class="price">¥2,888　</td>
        <th>５kg</th>
        <td data-label="価格"class="price">２６５　</td>
        <td data-label="価格"class="price">¥4,638　</td>
      </tr>
      <br><br><br>
  <table>
    <tr>
      <th><br>５：船便配送</th>
    </tr>
  <tr>
    <td>　船便配送サービスは、基本コンテナ配送などの物量が多い場合又は航空危険物商品の輸入時に特化した輸送方法です。<br>
      　通常の船便（混載船便）では、３〜５週間で日本まで配送を行う事ができます<br>
      　物量が多くなる場合、航空機便より安価でコスト削減になります。<br><br>
      <under>　料金形式　</under><br>
      　　　　　　　　　料金につきましては別途見積もりでの対応となります。<br>
      　　　　　　　　　基本利用重量としましては、100kg以上を目安としてご利用の検討をお願いいたします。<br>
      <br><br>
      <under>　納期（目安）　</under><br>
      　　　　　　　　　「快速船便」<br>
      　　　　　　　　　中国出荷から5日〜10日で商品到着予定となります。※一部地域は1日から2日遅くなる可能性もあります。<br><br>
      　　　　　　　　　「通常船便」<br>
      　　　　　　　　　
      <br><br>
      <under>　通関について　</under><br>
      　　　　　　　　　荷物通関はZCが代行致します。<br>
      　　　　　　　　　関税が発生した場合、ご利用者様が配送表者に関税料金を支払う形になります<br>
      　　　　　　　　　※商品総額が200元を超える場合は、ご利用をお勧めしません。追加料金がかかる場合があります。
      <br><br>
      <under>　その他　</under><br>
      　　　　　　　　　AmazonFBA倉庫直送サービスは<under>利用不可</under>です。※FBA電子便納品は、別サービスになります。
      <br><br>
    </td>
  </tr>
  <br><br><br>

        </tbody>
    </table>
    </div><!-- /.contents-inner -->
  </section><!-- /.contents -->  <section class="cta">
    <div class="cta-inner">
      <h2 class="section-ttl-03">企業理念</h2><!-- /.section-ttl-02 -->
      <p class="cta-txt">
        「中国輸入における不安」に対して<br><br>
        利用者の皆様が「安心」してご利用いただけるよう<br>合同会社China Primeでは<br><br>
        『安心』して商品に関するコミュニケーションを行える環境を提供<br>
        『安定』した商品輸入環境の提供<br>
        購入者負担を減らし『安価』な商品購入を提供<br><br>
        『３安』を提供する事を理念とし運営をしております。
      </p><!-- /.cta-txt -->
      <a href="https://forms.gle/dA9D4tvwkswB7ire9" class="cta-btn">お問い合わせしてみる</a><!-- /.cta-btn -->
    </div><!-- /.cta-inner -->
  </section><!-- /.cta -->
  <div class='footer'>
    <div class='footer-contents'>
        <div class='furima-details'>
            <h2 class='footer-content-head'>合同会社 China Primeについて</h2>
            <ul>
              <li class="footer-nav-list-item"><a href="gaiyou.html">会社概要(運営会社）</a></li>
              <li class="footer-nav-list-item"><a href="privacy_policy.html">プライバシーポリシー</a></li>
              <li class="footer-nav-list-item"><a href="special_commercial_code_notation.html">特商法にかかる表記</a></li>
            </ul>
        </div>
        <div class='furima-details'>
            <h2 class='footer-content-head'>China Primeのサービスを確認する</h2>
            <ul>
              <li class="footer-nav-list-item"><a href="ryoukin.html">ご利用サービス内容</a></li>
              <li class="footer-nav-list-item"><a href="shop.html">主な仕入可能環境</a></li>
              <li class="footer-nav-list-item"><a href="delivery_company.html">主な配送業者一覧</a></li>
                <!-- <li><%= link_to 'ご利用可能サービス一覧', "#", class: "footer-link" %></li>
                <li><%= link_to '主な仕入れ可能環境', "#", class: "footer-link" %></li>
                <li><%= link_to '主な配送業者一覧', "#", class: "footer-link" %></li> -->
            </ul>
        </div>
        <div class='furima-details'>
            <h2 class='footer-content-head'>China Primeについて</h2>
            <ul>
              <li class="footer-nav-list-item"><a href="kiyaku.html">China Prime利用規約</a></li>
              <!-- <li class="footer-nav-list-item"><a href="">China Prime利用ガイドライン</a></li> -->
              <li class="footer-nav-list-item"><a href="news.html">運営からのお知らせ</a></li>
                <!-- <li><%= link_to 'China Prime利用規約', "#", class: "footer-link" %></li>
                <li><%= link_to 'China Prime利用ガイドライン', "#", class: "footer-link" %></li>
                <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li> -->
            </ul>
        </div>
    </div>
    <p>Copyright(C) 2021 LLC.China Prime All Right Reserved.</p>
</div>
</body>

</html>
