<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>合同会社China Prime</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="ryoukin.css">
  <link rel="stylesheet" href="reset.css">
</head>

<body>
  <header class="header">
    <div class="header-inner">
      <h1 class="header-logo"><a href="#"><img src="img/12390.jpg" alt="Coding Practice"></a></h1>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-list-item"><a href="new.html">Top</a></li><!-- /.header-nav-list-item -->
          <li class="header-nav-list-item"><a href="gaiyou.html">会社概要</a></li>
          <li class="header-nav-list-item"><a href="kiyaku.html">利用規約</a></li>
          <li class="header-nav-list-item"><a href="ryoukin.html">利用料金</a></li>
          <!-- <li class="header-nav-list-item"><a href="Q&A.html">よくあるご質問・お問合せ</a></li> -->
          <li class="header-nav-list-item"><a href="https://lin.ee/o89sPAU">公式LINE＠登録</a></li><!-- /.header-nav-list-item -->
        </ul><!-- /.header-nav-list -->
      </nav><!-- /.header-nav -->
    </div><!-- /.header-inner -->
  </header>
  <div class="mv">
    <div class="mv-copy">
      <h1 class="mv-copy-ttl"> Your Only One Import Agency</h1><!-- /.mv-ttl -->
      <p class="mv-copy-txt">Starting from 2015</p><!-- /.mv-txt -->
    </div><!-- /.mv-copy -->
  </div><!-- /.mv -->

  <section class="contents">
    <div class="contents-inner">
      <h2 class="section-ttl">China Prime 仕入れ可能環境</h2><!-- /.section-ttl -->
      <div class="wrapper">
        <div class="contents-box">
          <figure class="contents-box-img"><img src="img/22111.jpg" href=""></figure>
          <!-- /.contents-box-img -->
          <div class="contents-box-info">
            <h2>タオバオ【淘宝网】</h2>
            <br>
            <p>
                中国版楽天市場！ 購入のしやすさと 商品対応は3つの中でNo1！
            </p><br>
            <a href="https://world.taobao.com/" class="cta-btn">リンク先はこちら！</a>
            <!-- <time datetime="2020.06.28">2020.06.28</time> -->
          </div><!-- /.contents-box-info -->
        </div><!-- /.contents-box -->
        <div class="contents-box">
          <figure class="contents-box-img"><img src="img/31123.png" alt=""></figure>
          <!-- /.contents-box-img -->
          <div class="contents-box-info">
            <h2>
                アリババ【阿里巴巴】
            </h2>
            <br>
            <p>大手卸販売サイト！低コストで商品を仕入れるならダントツ1番！
            </p><br>
            <a href="https://www.1688.com/" class="cta-btn">リンク先はこちら！</a>
            <!-- <time datetime="2020.06.28">2020.07.02</time> -->
          </div><!-- /.contents-box-info -->
        </div><!-- /.contents-box -->
        <div class="contents-box">
          <figure class="contents-box-img"><img src="img/jd.png" alt=""></figure>
          <!-- /.contents-box-img -->
          <div class="contents-box-info">
            <h2>
                ジンドン【京东】
            </h2>
            <br>
            <p>商品保証はNo1! 商品保証も充実！ 商品アフターサービスもあり！
            </p><br>
            <a href="https://www.jd.com/2017" class="cta-btn">リンク先はこちら！</a>
            <!-- <time datetime="2020.06.28">2020.07.10</time> -->
          </div><!-- /.contents-box-info -->
        </div><!-- /.contents-box -->
  </section><!-- /.contents -->

  <section class="cta">
    <div class="cta-inner">
      <h2 class="section-ttl-03">企業理念</h2><!-- /.section-ttl-02 -->
      <p class="cta-txt">
        「中国輸入における不安」に対して<br><br>
        利用者の皆様が「安心」してご利用いただけるよう<br>合同会社China Primeでは<br><br>
        『安心』して商品に関するコミュニケーションを行える環境を提供<br>
        『安定』した商品輸入環境の提供<br>
        購入者負担を減らし『安価』な商品購入を提供<br><br>
        『３安』を提供する事を理念とし運営をしております。
      </p><!-- /.cta-txt -->
      <a href="https://forms.gle/dA9D4tvwkswB7ire9" class="cta-btn">お問い合わせしてみる</a><!-- /.cta-btn -->
    </div><!-- /.cta-inner -->
  </section><!-- /.cta -->
  <div class='footer'>
    <div class='footer-contents'>
        <div class='furima-details'>
            <h2 class='footer-content-head'>合同会社 China Primeについて</h2>
            <ul>
              <li class="footer-nav-list-item"><a href="gaiyou.html">会社概要(運営会社）</a></li>
              <li class="footer-nav-list-item"><a href="privacy_policy.html">プライバシーポリシー</a></li>
              <li class="footer-nav-list-item"><a href="special_commercial_code_notation.html">特商法にかかる表記</a></li>
            </ul>
        </div>
        <div class='furima-details'>
            <h2 class='footer-content-head'>China Primeのサービスを確認する</h2>
            <ul>
              <li class="footer-nav-list-item"><a href="ryoukin.html">ご利用サービス内容</a></li>
              <li class="footer-nav-list-item"><a href="">主な仕入可能環境</a></li>
              <li class="footer-nav-list-item"><a href="">主な配送業者一覧</a></li>
                <!-- <li><%= link_to 'ご利用可能サービス一覧', "#", class: "footer-link" %></li>
                <li><%= link_to '主な仕入れ可能環境', "#", class: "footer-link" %></li>
                <li><%= link_to '主な配送業者一覧', "#", class: "footer-link" %></li> -->
            </ul>
        </div>
        <div class='furima-details'>
            <h2 class='footer-content-head'>China Primeについて</h2>
            <ul>
              <li class="footer-nav-list-item"><a href="kiyaku.html">China Prime利用規約</a></li>
              <!-- <li class="footer-nav-list-item"><a href="">China Prime利用ガイドライン</a></li> -->
              <li class="footer-nav-list-item"><a href="">運営からのお知らせ</a></li>
                <!-- <li><%= link_to 'China Prime利用規約', "#", class: "footer-link" %></li>
                <li><%= link_to 'China Prime利用ガイドライン', "#", class: "footer-link" %></li>
                <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li> -->
            </ul>
        </div>
    </div>
    <p>Copyright(C) 2021 LLC.China Prime All Right Reserved.</p>
</div>
</body>

</html>