<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>合同会社China Prime 利用規約</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="ryoukin.css">
  <link rel="stylesheet" href="reset.css">
</head>

<body>
  <header class="header">
    <div class="header-inner">
      <h1 class="header-logo"><a href="#"><img src="img/12390.jpg" alt="Coding Practice"></a></h1>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-list-item"><a href="new.html">Top</a></li><!-- /.header-nav-list-item -->
          <li class="header-nav-list-item"><a href="gaiyou.html">会社概要</a></li>
          <li class="header-nav-list-item"><a href="kiyaku.html">利用規約</a></li>
          <li class="header-nav-list-item"><a href="ryoukin.html">利用料金</a></li>
          <!-- <li class="header-nav-list-item"><a href="Q&A.html">よくあるご質問・お問合せ</a></li> -->
          <li class="header-nav-list-item"><a href="https://lin.ee/o89sPAU">公式LINE＠登録</a></li><!-- /.header-nav-list-item -->
        </ul><!-- /.header-nav-list -->
      </nav><!-- /.header-nav -->
    </div><!-- /.header-inner -->
  </header>
  <div class="mv">
    <div class="mv-copy">
      <h1 class="mv-copy-ttl"> Your Only One Import Agency</h1><!-- /.mv-ttl -->
      <p class="mv-copy-txt">Starting from 2015</p><!-- /.mv-txt -->
    </div><!-- /.mv-copy -->
  </div><!-- /.mv -->

  <section class="contents">
    <div class="contents-inner">
      <h2 class="section-ttl">特定商取引法に基づく表記</h2><!-- /.section-ttl -->
      <table>
        <thead>
            <tr>
                <td></td>
                <th scope="col">内容</th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>販売者</th>
                <td data-label="内容" class="txt">合同会社China Prime</td>
                <!-- <td data-label="価格" class="price">¥3,000</td> -->
            </tr>
            <tr>
                <th>販売責任者</th>
                <td data-label="内容" class="txt">岡田 修一</td>
                <!-- <td data-label="価格"class="price">¥4,000</td> -->
            </tr>
            <tr>
              <th>本社住所</th>
              <td data-label="内容" class="txt">〒685-0016　島根県隠岐郡隠岐の島町城北町４６１</td>
              <!-- <td data-label="価格"class="price">¥4,000</td> -->
            </tr>
            <tr>
                <th>電話番号</th>
                <td data-label="内容" class="txt">0120-994-587（平日9：30〜18：00）<br>
                時間外問い合わせの場合　<a href="https://lin.ee/o89sPAU">公式LINE＠</a> もしくは
                <a href="https://forms.gle/dA9D4tvwkswB7ire9">お問い合わせフォーム</a>からご連絡下さい。</td>
                <!-- <td data-label="価格"class="price">¥4,000</td> -->
            </tr>
            <tr>
                <th>メールアドレス</th>
                <td data-label="内容" class="txt">llc.china.prime@gmail.com</td>
                <!-- <td data-label="価格"class="price">¥10,000</td> -->
            </tr>
          <tr>
                <th>販売URL</th>
                <td data-label="内容" class="txt">https://www.china-prime.co.jp/chinaprime-LP/new.html</td>
                <!-- <td data-label="価格" class="price">¥3,000</td> -->
            </tr>
            <tr>
                <th>会費お支払方法</th>
                <td data-label="内容" class="txt">クレジットカード決済<br>銀行振込（契約プラン前払い）決済</td>
                <!-- <td data-label="価格"class="price">¥4,000</td> -->
            </tr>
            <tr>
                <th>会費金額</th>
                <td data-label="内容" class="txt">月額利用プラン　　　11,500円（税込）/月<br>
                半年料金一括プラン　60,000円（税込）/半年<br>
                年間料金一括プラン　108,000円（税込）/年間</td>
                <!-- <td data-label="価格"class="price">¥10,000</td> -->
            </tr>
            <tr>
                <th>商品以外の必要金額</th>
                <td data-label="内容" class="txt">銀行振込の場合　ご利用になられる金融機関の振込手数料がかかります。</td>
                <!-- <td data-label="価格" class="price">¥3,000</td> -->
            </tr>
            <tr>
              <th>支払い時期</th>
              <td data-label="内容" class="txt">利用申込フォームより決済登録完了日から３０日後に自動決済されます。<br>
              ※初月利用解約時、利用料金はかかりません。</td>
              <!-- <td data-label="価格"class="price">¥4,000</td> -->
            </tr>
            <tr>
                <th>商品引渡し時期</th>
                <td data-label="内容" class="txt">契約確認後1日以内に専用シート配布<br>
                専用シート配布以降すぐに輸入サービス利用可能</td>
                <!-- <td data-label="価格"class="price">¥4,000</td> -->
            </tr>
            <tr>
                <th>各種解約・返金について</th>
                <td data-label="内容" class="txt">【サービス解約】<br>
                契約更新前日までに当社連絡いただければ当社でキャンセル処理を行います。<br>
                もしくは決済リンクよりキャンセル処理をお願いいたします。<br><br>
                【サービス解約における返金】<br>
                半年利用プラン及び年間利用プラン契約効力日の次月より日割計算にて返金対応致します。<br><br>
                【返金方法】<br>
                メールまたはLINEより返金申請を行なってください。<br>
                契約失効日より３０日以内にご指定の口座に返金いたします。<br><br>
                【返金による一例】<br>
                （例）会費支払日（４月２３日）　解約日（５月１０日）の半年利用プラン契約時<br>
                契約失効日　５月２２日　23：59分<br>
                解約返金額　50,000円（返金における振込手数料はご利用者様負担）<br>
                返金方法　　ご利用者様指定の口座に６月２２日までに返金を行う（口座振込手数料はご利用者様負担）</td>
                <!-- <td data-label="価格" class="price">¥3,000</td> -->
            </tr>
            <tr>
                <th>表現及びサービスにおける<br>注意事項</th>
                <td data-label="内容" class="txt">本サービスに示された表現や再現性には個人差があり<br>
                    必ずしも利益や効果を保証したものではございません。<br><br>
                    初月利用料金無料サービスは、初回のみのご利用に限ります。<br>
                    解約後の再登録は無料サービス対象外となります。再登録が確認できた際、月額利用料金を請求致します。</td>
                <!-- <td data-label="価格" class="price">¥3,000</td> -->
            </tr>
        </tbody>
    </table>
    </div><!-- /.contents-inner -->
  </section><!-- /.contents -->

  

  <section class="cta">
    <div class="cta-inner">
      <h2 class="section-ttl-03">企業理念</h2><!-- /.section-ttl-02 -->
      <p class="cta-txt">
        「中国輸入における不安」に対して<br><br>
        利用者の皆様が「安心」してご利用いただけるよう<br>合同会社China Primeでは<br><br>
        『安心』して商品に関するコミュニケーションを行える環境を提供<br>
        『安定』した商品輸入環境の提供<br>
        購入者負担を減らし『安価』な商品購入を提供<br><br>
        『３安』を提供する事を理念とし運営をしております。
      </p><!-- /.cta-txt -->
      <a href="https://forms.gle/dA9D4tvwkswB7ire9" class="cta-btn">お問い合わせしてみる</a><!-- /.cta-btn -->
    </div><!-- /.cta-inner -->
  </section><!-- /.cta -->
  <div class='footer'>
    <div class='footer-contents'>
        <div class='furima-details'>
            <h2 class='footer-content-head'>合同会社 China Primeについて</h2>
            <ul>
              <li class="footer-nav-list-item"><a href="gaiyou.html">会社概要(運営会社）</a></li>
              <li class="footer-nav-list-item"><a href="privacy_policy.html">プライバシーポリシー</a></li>
              <li class="footer-nav-list-item"><a href="special_commercial_code_notation.html">特商法にかかる表記</a></li>
            </ul>
        </div>
        <div class='furima-details'>
            <h2 class='footer-content-head'>China Primeのサービスを確認する</h2>
            <ul>
              <li class="footer-nav-list-item"><a href="ryoukin.html">ご利用サービス内容</a></li>
              <li class="footer-nav-list-item"><a href="shop.html">主な仕入可能環境</a></li>
              <li class="footer-nav-list-item"><a href="delivery_company.html">主な配送業者一覧</a></li>
                <!-- <li><%= link_to 'ご利用可能サービス一覧', "#", class: "footer-link" %></li>
                <li><%= link_to '主な仕入れ可能環境', "#", class: "footer-link" %></li>
                <li><%= link_to '主な配送業者一覧', "#", class: "footer-link" %></li> -->
            </ul>
        </div>
        <div class='furima-details'>
            <h2 class='footer-content-head'>China Primeについて</h2>
            <ul>
              <li class="footer-nav-list-item"><a href="kiyaku.html">China Prime利用規約</a></li>
              <!-- <li class="footer-nav-list-item"><a href="">China Prime利用ガイドライン</a></li> -->
              <li class="footer-nav-list-item"><a href="news.html">運営からのお知らせ</a></li>
                <!-- <li><%= link_to 'China Prime利用規約', "#", class: "footer-link" %></li>
                <li><%= link_to 'China Prime利用ガイドライン', "#", class: "footer-link" %></li>
                <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li> -->
            </ul>
        </div>
    </div>
    <p>Copyright(C) 2021 LLC.China Prime All Right Reserved.</p>
</div>
</body>

</html>
