<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>合同会社China Prime</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="kiyaku.css">
  <link rel="stylesheet" href="disable.css">
  <link rel="stylesheet" href="reset.css">
  
</head>

<body>
  <header class="header">
    <div class="header-inner">
      <h1 class="header-logo"><a href="#"><img src="img/12390.jpg" alt="Coding Practice"></a></h1>
      <nav class="header-nav">
        <ul class="header-nav-list">
          <li class="header-nav-list-item"><a href="new.html">Top</a></li><!-- /.header-nav-list-item -->
          <li class="header-nav-list-item"><a href="gaiyou.html">会社概要</a></li>
          <li class="header-nav-list-item"><a href="kiyaku.html">利用規約</a></li>
          <li class="header-nav-list-item"><a href="ryoukin.html">利用料金</a></li>
          <!-- <li class="header-nav-list-item"><a href="Q&A.html">よくあるご質問・お問合せ</a></li> -->
          <li class="header-nav-list-item"><a href="https://lin.ee/o89sPAU">公式LINE＠登録</a></li><!-- /.header-nav-list-item -->
        </ul><!-- /.header-nav-list -->
      </nav><!-- /.header-nav -->
    </div><!-- /.header-inner -->
  </header>
  <div class="mv">
    <div class="mv-copy">
      <h1 class="mv-copy-ttl"> Your Only One Import Agency</h1><!-- /.mv-ttl -->
      <p class="mv-copy-txt">Starting from 2015</p><!-- /.mv-txt -->
    </div><!-- /.mv-copy -->
  </div><!-- /.mv -->
  <section class="contents">
    <div class="contents-inner">
      <h2 class="section-ttl">China Prime年間まとめてプラン申請</h2><!-- /.section-ttl -->
      <!-- <h3 class="section-ttl-02">気になるサービスは画像をクリック！</h3> -->
    <table>
        <tr>
        <th>はじめに</th>
        </tr>
        <tr>
        <td>この度は、China Primeのご利用をご検討いただき有難う御座います。<br>
            下記の内容をご確認いただいた上で当社サービスのご利用をお願いいたします。
        </td>
        </tr>
        <tr>
            <th><br>China Primeサービス確認のお願い</th>
        </tr>
            <tr>
                <td><br><br>
                    <under>China Prime利用規約</under><br><br>
                    <a href="kiyaku.html">利用規約はこちらをクリックして確認</a><br><br><br>
    
                    <under>プライバシーポリシー</under><br><br>
                    <a href="privacy_policy.html">プライバシーポリシーはこちらをクリックして確認</a><br><br><br>
    
                    <under>特定商取引法に基づく表記</under><br><br>
                    <a href="special_commercial_code_notation.html">特商法内容ははこちらをクリックして確認</a><br><br>
                    ※解約された場合の返金事例記載内容があります。利用前に確認をしてください。<br><br>
            </td>
        </tr>
    </table>
  </section><!-- /.contents -->

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

        <div class="notes_required">
          <div class="checkBtn_area">
            <label for="checkBtn" class="checkBtn"><input id="checkBtn" type="checkbox"><span class="label_inner">上記確認内容に同意する</span></label>
          </div>
          <p class="check_text_b">チェックを入れると「ボタン」が有効となります。</p>
        </div>
      
        <div class="btnArea">
          <input type="submit" value="">
          <a href="https://py.pl/NBCBI" target="_blank" class="btn_one _a">決済登録画面へ</a>
          <br>
          <br><p class="check_text_b">※1ヶ月の無料期間後は自動的に決済が始まります。登録された際には必ず確認をお願いいたします。</p>
        </div>
 
    <br><br><br>

  <div class='footer'>
    <div class='footer-contents'>
        <div class='furima-details'>
            <h2 class='footer-content-head'>合同会社 China Primeについて</h2>
            <ul>
              <li class="footer-nav-list-item"><a href="gaiyou.html">会社概要(運営会社）</a></li>
              <li class="footer-nav-list-item"><a href="privacy_policy.html">プライバシーポリシー</a></li>
              <li class="footer-nav-list-item"><a href="special_commercial_code_notation.html">特商法にかかる表記</a></li>
            </ul>
        </div>
        <div class='furima-details'>
            <h2 class='footer-content-head'>China Primeのサービスを確認する</h2>
            <ul>
              <li class="footer-nav-list-item"><a href="ryoukin.html">ご利用サービス内容</a></li>
              <li class="footer-nav-list-item"><a href="shop.html">主な仕入可能環境</a></li>
              <li class="footer-nav-list-item"><a href="delivery_company.html">主な配送業者一覧</a></li>
                <!-- <li><%= link_to 'ご利用可能サービス一覧', "#", class: "footer-link" %></li>
                <li><%= link_to '主な仕入れ可能環境', "#", class: "footer-link" %></li>
                <li><%= link_to '主な配送業者一覧', "#", class: "footer-link" %></li> -->
            </ul>
        </div>
        <div class='furima-details'>
            <h2 class='footer-content-head'>China Primeについて</h2>
            <ul>
              <li class="footer-nav-list-item"><a href="kiyaku.html">China Prime利用規約</a></li>
              <!-- <li class="footer-nav-list-item"><a href="">China Prime利用ガイドライン</a></li> -->
              <li class="footer-nav-list-item"><a href="news.html">運営からのお知らせ</a></li>
                <!-- <li><%= link_to 'China Prime利用規約', "#", class: "footer-link" %></li>
                <li><%= link_to 'China Prime利用ガイドライン', "#", class: "footer-link" %></li>
                <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li> -->
            </ul>
        </div>
    </div>
    <p>Copyright(C) 2021 LLC.China Prime All Right Reserved.</p>
</div>
<script type="text/javascript" src="chinaprime.js"></script>
</body>

</html>
